body{
    background-color: rgb(255, 255, 255);
    overflow-x: hidden;
}
html{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;

}

.hlavicka{
    color: white;
    font-weight: 400;
    height: 25px;
    width: 100%;
    background-color:#0078EF;
    display: flex;
}

.hlavicka li a{
    color: #ffffff;
    font-size: 10px;
}

.hlavicka a:hover{
    color: #000000;
}

.header__text{
    text-transform: uppercase;
    display: block;
    font-size: 80px;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    }

.header__text--small{
    font-size: 30px;
    color: white;
    -webkit-text-stroke: 2px black;
}

#blue{
    color: #0078EF;
}
.podnadpis{
    color: #0078EF;
    font-size: 41px;
    text-transform: uppercase;
}

.podnadpis--white{
    color: white;
}

.logo{
    margin-left: 20px;
    transition: 0.3s ease-in-out;
}

.logo:hover{
    transform: scale(1.1);
    transition: 0.3s ease-in-out;
}

.menu{
    background: #ffffff ;
    height: 80px;
    width: 100%;
}

nav menu{
    float: right;
    margin-right: 20px;
}

nav menu li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav menu li a{
    color: #000000;
    font-size: 16px;
    text-transform: uppercase;
}

nav a.active,a:hover{
    color: #0078EF;
}













