body{
    background-color: rgb(255, 255, 255);
}
html{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;

}
p{
    font-weight: 300;
}
a:link{
    text-decoration: none!important;
}
.hlavicka{
    color: white;
    font-weight: 400;
    height: auto;
    width: 100%;
    background-color:#0078EF;
}

.hlavicka li a{
    color: #ffffff;
    font-size: 10px;
    text-decoration: none;
}
.title{
    display: flex;
    flex-direction: column;
    padding-top: 179px;
    padding-bottom: 20px;
    margin-bottom: 55px;
    background-image:url(./images/header-bg.jpg);
    background-position: 0 5%;
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
}
.title__text{
    display: block;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 80px;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    text-align: center;
    }

.title__text--small{
    font-size: 30px;
    color: white;
    -webkit-text-stroke: 2px black;
}

#blue{
    color: #0078EF;
}
.podnadpis{
    color: #0078EF;
    font-size: 41px;
    text-transform: uppercase;
    text-align: center;
}

.podnadpis--white{
    color: white;
}

.logo__content{
    position: absolute;
    top: 0;
    left: 0;
    transition: all .2s ease-in-out;
}
.logo__content:hover{
    transform: scale(1.1);
}
.section{
    margin-bottom: 30px;
}

.img-res{
    width: 240px;
    height: 435px;
    object-fit: cover;
}
.komixy{
    width: 290px;
    height: 439px;
    object-fit: cover;
}
.img-responsive{
    width: 228px;
    height: 228px;
    object-fit: cover;
}

figcaption{
    text-transform: uppercase;
    text-align: center;
}

#komixy, #galerie{
    background-color: #000000;
}
.footer{
    background-image: url(./images/footer-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.footer__text{
    color: #ffffff;
    font-weight: 300;
}
.footer__warning{
    color: #ffffff;
    font-weight: 700;
    font-size: 21px;
}
.footer__img{
    width: 100%;
    right: 0;
    bottom: 0;
}
.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;


}
.wrapper, .galerie{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.novinka{
    background-color: #EFEFEF;
    margin-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
}
.novinka__img{
    margin-top: 30px;
    object-fit: cover;
    width: 240px;
    height: 240px;
}
.novinka__heading{
    font-weight: 700;
    font-size: 28px;
    text-decoration: none;
}

.novinka__author{
    font-size: 14px;
    color: #666666;
    ;
}

.header {
    background-color: white;
}


.header__nav{
    position: relative;
    display: flex;
    justify-content: space-between;
    margin:1.5em 1.2em 2em 1.2em;
    height: 53px;
}
menu{
    list-style-type: none;
}
.menu{
    margin-top: 25px;
    color: white;
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    background-color: #0078EF;
    padding: 1em;
    gap: 0.5em;
}

.menu a {
    color: inherit;
    text-transform: uppercase;
}
.hamburger {
    flex-direction: column;
    display: none;
    text-transform: uppercase;
}

.hamburger::after {
    content: url(./images/hamburger.svg);
}


@media screen and (max-width: 768px) {
    .hamburger { 
        display: flex;
    } 
    .hamburger-menu--hidden {
        z-index: -1;
        display: none;
    }
}





@media screen and (min-width:768px) {
    .wrapper{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        padding-left: 15em;
        padding-right: 15em;

    }

    .galerie{
        display: flex;
    }
    .menu{
        text-decoration: none;
        background-color: #ffffff;
        color: #000000;
        margin: 0;
        display: flex;
        top: 0;
        left: 0;
        flex-direction: row;
        position: static;
        justify-content: right;
        align-items: center;
        width: 100%;
        height: 100%;
        }

    .menu a:hover, #active{
        color: #0078EF;
    }
   
    .hlavicka__item:hover{
        text-decoration: underline solid white;
    }
    .hamburger-menu li{
        display: flex;
        align-items: center;
        padding: 0 20px;
        height: 100%;
    }
    .hamburger{
        display: none;
    }
    .hlavicka{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .hlavicka__left{
        display: flex;
        flex-direction: row;
    }

    .title__text{
        text-align: right;
    }

    .podnadpis:hover{

    }



    .novinka{
        padding-left: 0px;
    }
    .novinka__img{
        margin-top: 0px;
    }
}













